body {
  margin: 10px 0;
  background: #1a1a1d;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1168px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.logo img {
  width: 178px;
  height: 75px;
  float: left;
  margin-bottom: 6px;
}

.search img {
  float: right;
}

/* MAIN*/

.category {
  margin-top: 10px;
  height: 92px;
  background: #0d0d0d;
  border: 1px solid #950740;
  border-radius: 11px;
}

.categorie-title {
  padding-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #c3073f;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #c3073f;
}

.movie li {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.movies {
  margin-bottom: 210px;
}

/* FOOTER */

.footer-container {
  width: 1168px;
  height: 201px;
  margin: 0 auto;
  background: #0d0d0d;
  border-radius: 24px;
}

.footer-container img {
  padding: 50px 50px;
}
